# Welcome to our Cogs 108 Final Project! Our Group members are:

### James McDougall (A14947178)
other people

In [1]:
import pandas as pd # we use pandas to 
import matplotlib.pyplot as plt

In [2]:
# you'll both have the download the data yourself. It takes about ten minutes
crime = pd.read_csv('/Users/jamesmcdougall/Downloads/Crimes_-_2001_to_present.csv')

# First, here is some basic information and statistics about our data

In [3]:
crime.describe().loc['count']

ID                6802359.0
Beat              6802359.0
District          6802312.0
Ward              6187505.0
Community Area    6188828.0
X Coordinate      6740394.0
Y Coordinate      6740394.0
Year              6802359.0
Latitude          6740394.0
Longitude         6740394.0
Name: count, dtype: float64

In [4]:
print('Earliest Year:' + str(crime['Year'].min()) + '\tLatest Year: ' + str(crime['Year'].max()))

Earliest Year:2001	Latest Year: 2019

In [5]:
for column in crime:
    print(column)

ID
Case Number
Date
Block
IUCR
Primary Type
Description
Location Description
Arrest
Domestic
Beat
District
Ward
Community Area
FBI Code
X Coordinate
Y Coordinate
Year
Updated On
Latitude
Longitude
Location

In [6]:
# find number of Nans in each column
for column in crime:
    # note: some columns are text, so all will be Nan.
    print('Column Name: ' + str(column) + '\t\tNumber of NaNs: ' + str(crime[str(column)].isnull().sum().sum()))

Column Name: ID		Number of NaNs: 0
Column Name: Case Number		Number of NaNs: 4
Column Name: Date		Number of NaNs: 0
Column Name: Block		Number of NaNs: 0
Column Name: IUCR		Number of NaNs: 0
Column Name: Primary Type		Number of NaNs: 0
Column Name: Description		Number of NaNs: 0
Column Name: Location Description		Number of NaNs: 4441
Column Name: Arrest		Number of NaNs: 0
Column Name: Domestic		Number of NaNs: 0
Column Name: Beat		Number of NaNs: 0
Column Name: District		Number of NaNs: 47
Column Name: Ward		Number of NaNs: 614854
Column Name: Community Area		Number of NaNs: 613531
Column Name: FBI Code		Number of NaNs: 0
Column Name: X Coordinate		Number of NaNs: 61965
Column Name: Y Coordinate		Number of NaNs: 61965
Column Name: Year		Number of NaNs: 0
Column Name: Updated On		Number of NaNs: 0
Column Name: Latitude		Number of NaNs: 61965
Column Name: Longitude		Number of NaNs: 61965
Column Name: Location		Number of NaNs: 61965

In [7]:
null_crime = crime[crime['District'].isnull()]
num_row_null_district = len(null_crime)

# Cleaning the data

We have some rows with no District... we can't do much with them. So we're just going to drop them. There aren't that many, though (only 47 in our table with about 6 million rows), so it shouldn't have an impact. Also, remove all rows which are in district 31... this district isn't part of the regular list on the website and i can't find any info on them

In [8]:
original_num_rows = len(crime)
crime = crime[ crime['District'].isnull() == False ] # remove the rows with null district

In [9]:
assert len(crime) == original_num_rows - num_row_null_district

In [34]:
crime = crime[ crime['District'] <= 25 ]

In [35]:
assert crime['District'].max() != 31.0

# Run this cell to download the cleaned data to a csv in Unix...

In [39]:
crime.to_csv('~/Downloads/cleaned_chicago_crime_data.csv')

# Divide the dataframe into districts

In [36]:
district_list = crime['District'].unique().tolist()
district_list.sort()
district_list

[1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 24.0,
 25.0]

In [37]:
districts = {}
for district in district_list:
    districts[str('District ' + str(district))] = crime[ crime['District'] == district ]