In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# you'll both have the download the data yourself. It takes about ten minutes
crime = pd.read_csv('/Users/jamesmcdougall/Downloads/Crimes_-_2001_to_present.csv')
crime.describe()

,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,6.802359e+06,6.802359e+06,6.802312e+06,6.187505e+06,6.188828e+06,6.740394e+06,6.740394e+06,6.802359e+06,6.740394e+06,6.740394e+06
mean,6.267879e+06,1.191551e+03,1.130251e+01,2.268313e+01,3.758620e+01,1.164517e+06,1.885721e+06,2.008401e+03,4.184201e+01,-8.767180e+01
std,3.063983e+06,7.033569e+02,6.945669e+00,1.383246e+01,2.154045e+01,1.716683e+04,3.270468e+04,5.067564e+00,8.999481e-02,6.212430e-02
min,6.340000e+02,1.110000e+02,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.001000e+03,3.661945e+01,-9.168657e+01
25%,3.443594e+06,6.220000e+02,6.000000e+00,1.000000e+01,2.300000e+01,1.152934e+06,1.859189e+06,2.004000e+03,4.176892e+01,-8.771387e+01
50%,6.254311e+06,1.111000e+03,1.000000e+01,2.200000e+01,3.200000e+01,1.165991e+06,1.890586e+06,2.008000e+03,4.185537e+01,-8.766618e+01
75%,8.909085e+06,1.731000e+03,1.700000e+01,3.400000e+01,5.800000e+01,1.176352e+06,1.909313e+06,2.012000e+03,4.190686e+01,-8.762836e+01
max,1.158934e+07,2.535000e+03,3.100000e+01,5.000000e+01,7.700000e+01,1.205119e+06,1.951622e+06,2.019000e+03,4.202291e+01,-8.752453e+01

In [26]:
# count number of Nan districts?
crime['District'].isna().sum()

47

In [11]:

for district in range(1,(max(crime['District']))+1):
    print(district)

TypeError: 'float' object cannot be interpreted as an integer